@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #572d59;
}
#ext_menu-0 .mbr-navbar__section {
  background: #572d59;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box4-3 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-3 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3 .mbr-article {
  color: #ffffff;
}
#testimonials1-4 .mbr-reviews__author-name {
  color: #553982;
}
#testimonials1-4 .mbr-reviews__author-bio {
  color: #553982;
}
#form2-6 .mbr-header__text {
  color: #553982;
  font-family: 'Roboto Condensed', sans-serif;
}
#social-buttons2-9 .mbr-header__text {
  color: #553982;
}
#social-buttons2-9 .mbr-header__text P {
  text-align: left;
}
#footer1-7 P {
  color: #efefef;
}
#ext_menu-a .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-a.mbr-navbar--stuck .mbr-navbar__section {
  background: #572d59;
}
#ext_menu-a .mbr-navbar__section {
  background: #572d59;
}
#ext_menu-a .mbr-navbar__hamburger {
  color: #ffffff;
}
#footer1-b P {
  color: #efefef;
}
#ext_menu-l .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-l.mbr-navbar--stuck .mbr-navbar__section {
  background: #572d59;
}
#ext_menu-l .mbr-navbar__section {
  background: #572d59;
}
#ext_menu-l .mbr-navbar__hamburger {
  color: #ffffff;
}
#footer1-m P {
  color: #efefef;
}
#header3-o H3 {
  text-align: left;
}
#ext_menu-q .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-q.mbr-navbar--stuck .mbr-navbar__section {
  background: #572d59;
}
#ext_menu-q .mbr-navbar__section {
  background: #572d59;
}
#ext_menu-q .mbr-navbar__hamburger {
  color: #ffffff;
}
#footer1-r P {
  color: #efefef;
}
